
#gral{
    width: 100vw;
    height: 100vh;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contConsole{
    
    width: 30em;
    height: 40em;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#consoleBright{
    width: 20em;
    height: 30em;
    background-color: ivory;
    border-radius: 4% 4% 15% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#console{
    width: 19em;
    height: 29.5em;
    background-color: lawngreen;
    border-radius: 4% 4% 15% 4%;
}

/*********************************************
**********************************************
****  PARTE SUPERIOR DE LA PANTALLA  *********
**********************************************
*********************************************/

#topGroove{
    background-color: lightblue;
    width: 19em;
    height: 1.5em;    
    border-bottom: 3px solid gray;
    display: flex;
}


.boxTop1{
    width: 10%;
    height: 1,5em;
    background-color: red;
    border-right: 3px solid gray;
}

.boxTop2{
    width: 80%;
    height: 1,5em;
    background-color: red;
}
.boxTop3{
    width: 10%;
    height: 1,5em;
    background-color:red;
    border-left: 3px solid gray;
}

#topDivisor{
    width: 19em;
    height: 1.5em;
    background-color: royalblue;   
}

/*********************************************
**********************************************
**************   PANTALLA   ******************
**********************************************
*********************************************/

#contScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#marginScreen{
    width: 15em;
    height: 11em;
    background-color: salmon;
    border-radius: 10% 10% 30% 10%;
}
#topScreen{
    width: 15em;
    height: 1.5em;
    background-color: chocolate;
}
#middleScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftScreen{
    width: 15%;
    height: 8em;
    background-color: darkgreen;
}
#screen{
    width: 70%;
    height: 8em;
    background-color: darkorchid;
}
#rightScreen{
    width: 15%;
    height: 8em;
    background-color: deeppink;
    border-radius: 0% 0% 40% 0%;
}
/*********************************************
**********************************************
************  DIVISOR CENTRAL   **************
**********************************************
*********************************************/

#consoleLogo{
    display: flex;
    justify-content: flex-start;
    
}
#spaceLeft{
    background-color: darkorchid;
    width: 2em;
    height: 2em;
}
#logo{
    width: 8em;
    height: 2em;
    background-color: black; 
}