
#gral{
    width: 100vw;
    height: 100vh;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contConsole{
    
    width: 30em;
    height: 40em;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#consoleBright{
    width: 20em;
    height: 30em;
    background-color: turquoise;
    border-radius: 4% 4% 15% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#console{
    width: 19em;
    height: 29.5em;
    background-color: rgb(190,188, 185);
    border-radius: 4% 4% 15% 4%;
    border: 1px solid rgb(109, 117, 117);
    box-shadow: 10px 10px 15px black;
    
}

/*********************************************
**********************************************
****  PARTE SUPERIOR DE LA PANTALLA  *********
**********************************************
*********************************************/

#topGroove{
    background-color: lightblue;
    width: 19em;
    height: 1.5em;    
    border-bottom: 3px solid gray;
    display: flex;
    border-radius: 20% 20% 0% 0%;
}


.boxTop1{
    width: 10%;
    height: 1,5em;
    background-color: rgb(190,188, 185);
    border-right: 3px solid gray;
    border-radius: 20% 0% 0% 0%;
    border-bottom: 1px solid rgb(85, 86, 88);
    
}

.boxTop2{
    width: 80%;
    height: 1,5em;
    background-color: rgb(190,188, 185);
    border-left: 1px solid rgb(85, 86, 88);
    border-bottom: 1px solid rgb(85, 86, 88);
    border-right: 1px solid rgb(85, 86, 88);
}
.boxTop3{
    width: 10%;
    height: 1,5em;
    background-color:rgb(190,188, 185);
    border-left: 3px solid gray;
    border-radius: 0% 20% 0% 0%;
    border-bottom: 1px solid rgb(85, 86, 88);
}

#topDivisor{
    width: 19em;
    height: 1.5em;
    background-color: rgb(192,190, 186);
}

/*********************************************
**********************************************
**************   PANTALLA   ******************
**********************************************
*********************************************/

#contScreen{
    display: flex;
    justify-content: center;   
    align-items: center; 
    flex-direction: row;  
}
#leftLines{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    width: 4em;
    height: 1.5em;
    margin-left: 0.2em;

}
#topLineLeft{
    width: 4em;
    height: 0.2em; 
    background-color: rgb(119, 21, 80);
    margin-top: 0.2em;
}
#botLineLeft{
    width: 4em;
    height: 0.2em;
    background-color: rgb(2, 0, 77);
    margin-bottom: 0.2em;
}
#topText{
    width: 20em;
    height: 80%;
    background-color: rgb(85, 86, 88);
    font-size: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
#textMatrix{
    font-size: 7px;
    color: rgb(192,190, 186);
    margin-left: 3px;
}
#rightLines{
    width: 2.8em;
    height: 100%;
    background-color: rgb(85, 86, 88);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    width: 3.5em;
    height: 1.5em;
    margin-left: 0.2em;
}
#topLineRight{
    width: 3em;
    height: 0.2em; 
    background-color: rgb(119, 21, 80);
    margin-top: 0.2em;
}
#botLineRight{
    width: 3em;
    height: 0.2em;
    background-color: rgb(2, 0, 77);
    margin-bottom: 0.2em;
}
#marginScreen{
    width: 15em;
    height: 11em;
    background-color: rgb(85, 86, 88);
    border-radius: 10% 10% 30% 10%;
}
#topScreen{
    width: 15em;
    height: 1.5em;
    background-color: rgb(85, 86, 88);
    display: flex;
    align-items: center;
    flex-direction: row;
}
#middleScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftScreen{
    width: 15%;
    height: 8em;
    background-color: rgb(85, 86, 88);
}
#screen{
    width: 70%;
    height: 8em;
    background-color: rgb(74, 91, 27);
    border: 1px solid black;
    box-shadow: inset 10px 10px 7px rgb(48, 59, 18);
    
}
#rightScreen{
    width: 15%;
    height: 8em;
    background-color: rgb(85, 86, 88);
    border-radius: 0% 0% 40% 0%;
    border-right: 1px solid rgb(82, 77, 77);
}
/*********************************************
**********************************************
************  DIVISOR CENTRAL   **************
**********************************************
*********************************************/

#consoleLogo{
    display: flex;
    justify-content: flex-start;
    
}
#spaceLeft{
    background-color: rgb(190,188, 185);
    width: 2em;
    height: 2em;
}
#logo{
    width: 8em;
    height: 2em;
    background-color: rgb(190,188, 185);
}

/*********************************************
**********************************************
************      BOTONES       **************
**********************************************
*********************************************/

#buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
#topMargin{
    background-color: rgb(190,188, 185);
    width: 100%;
    height: 2.5em;
}
#midButtons{
    background-color: rgb(190,188, 185);
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
#leftCross{
    width: 2em;
    height: 5em;
    background-color: rgb(190,188, 185);
}

#midMargin{
    width: 5em;
    height: 5em;
    background-color: rgb(190,188, 185);
}
#rightButtons{
    width: 6em;
    height: 5em;
    background-color:rgb(190,188, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#rightMargin{
    width: 1em;
    height: 5em;
    background-color: rgb(190,188, 185);
}
/*** RIGHT BUTTONS ***/

#contRightButtons{
    width: 6em;
    height: 2.5em;
    background-color:rgb(190,188, 185);
    transform: rotate(-30deg);
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    border-radius: 30%;
}

#contLeftButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
    height: 100%;
    background-color: rgb(48, 16, 190);
    border-radius: 100%;
}
#contRightButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
    height: 100%;
    background-color: rgb(81, 15, 204);  
    border-radius: 100%; 
}
#leftButton{
    width: 100%;
    height: 100%;
    background-color: rgb(133, 17, 71);
    border-radius: 100%; 
    margin-left: 0px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 7px rgb(85, 86, 88);
}
#rightButton{
    width: 100%;
    height: 100%;
    background-color: rgb(133, 17, 71); 
    border-radius: 100%;
    border: 1.5px solid black;
    box-shadow: 2px 2px 7px rgb(85, 86, 88);
}
/*** CROSS TOP ***/

#contCross{
    width: 5em;
    height: 5em;
    background-color: rgb(190,188, 185);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#crossTop{
    width: 100%;
    height: 33%;
    background-color: rgb(190,188, 185);
    display: flex;
}
#crossTopLeft{
    width: 100%;
    height: 100%;
    background-color: rgb(190,188, 185);
}
#crossTopButton{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 25% 25% 0% 0%;
    border-top: 2px solid rgb(85, 86, 88);
    border-left: 2px solid rgb(85, 86, 88);
    border-right: 2px solid rgb(85, 86, 88);

}
#crossTopRight{
    width: 100%;
    height: 100%;
    background-color: rgb(190,188, 185);
}

/** CROSS MID **/

#crossMid{
    width: 100%;
    height: 33%;
    background-color: black;
    display: flex;
    border-radius: 25% 25% 25% 25%;
    
}
#crossMidLeft{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 25% 0% 0% 25%;
    border-top: 2px solid rgb(85, 86, 88);
    border-left: 2px solid rgb(85, 86, 88);
    
}
#crossMidButton{
    width: 90%;
    height: 90%;
    background-color: black;
    border-radius: 100%;
    border: 2px solid rgb(85, 86, 88);
    z-index: 1;
}
#crossMidRight{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0% 25% 25% 0%;
}



/** CROSS BOT **/


#crossBot{
    width: 100%;
    height: 33%;
    background-color: rgb(190,188, 185);
    display: flex;
}
#crossBotLeft{
    width: 100%;
    height: 100%;
    background-color: rgb(190,188, 185);
}
#crossBotButton{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0% 0% 25% 25%;
    border-left: 2px solid rgb(85, 86, 88);
    border-right: 2px solid rgb(85, 86, 88);
    border-bottom: 2px solid rgb(85, 86, 88);
}
#crossBotRight{
    width: 100%;
    height: 100%;
    background-color: rgb(190,188, 185);
}


#startSelectCont{
    width: 100%;
    height: 3em;
    background-color: rgb(190,188, 185);
    border-radius: 0% 0% 40% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startSelectCont2{
    width: 30%;
    height: 3em;
    background-color: rgb(190,188, 185);
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectCont{
    width: 50%;
    height: 3em;
    background-color: rgb(190,188, 185);
    display: flex;
    justify-content: center;
    align-items: center;
}
#startCont{
    width: 50%;
    height: 3em;
    background-color: rgb(190,188, 185);
    display: flex;
    justify-content: center;
    align-items: center;
}
#select{
    width: 80%;
    height: 0.5em;
    background-color: rgb(85, 86, 88);
    border-radius: 100%; 
    transform: rotate(-30deg);
    border: 1px solid black;
    box-shadow: 2px 2px 7px rgb(85, 86, 88);
}
#start{
    width: 80%;
    height: 0.5em;
    background-color: rgb(85, 86, 88);
    border-radius: 100%; 
    transform: rotate(-30deg);
    border: 1px solid black;
    box-shadow: 2px 2px 7px rgb(85, 86, 88);
}
/*********************************************
**********************************************
************     SPEAKERS       **************
**********************************************
*********************************************/

#contSpeakers{
    width: 4em;
    height: 3em;
    background-color: rgb(190,188, 185);
    border-radius: 0% 0% 0% 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    transform: rotate(-30deg);
    position: absolute;
    bottom: 7em;
    left: 40.4em;
    
}
.speakers{
    background-color: rgb(190,188, 185);
    border-radius: 80% 80% 80% 80%;
    width: 10%;
    height: 100%;
    border: 1px solid black;
    box-shadow: inset 2px 2px 7px rgb(49, 50, 51);
}